<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand " href="/">
        <img src="/img/fatec.png">
    </a>

    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
<<<<<<< HEAD
=======

>>>>>>> b0188d206c27b052bfa7768858918825873a69a7
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
    </ul>
</nav>